doctype 5
html
	head
		meta(charset='UTF-8')
		title= title

		<!-- CSS -->
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")
	body

		div.jumbotron
			hgroup.container
				h1= title
					br
					small Sistema de Registro de Embarazos


			<!-- Banner for Nodejitsu, as a thank-you for hosting the app -->
			a(href="http://opensource.nodejitsu.com/")
				img(style="position: absolute; top: 0; right: 0; border: 0", 
					src="//www.nodejitsu.com/img/media/foss-r-blue.png", 
					alt="Apply for the Nodejitsu free for Open Source program")
		
		.container
			block content

		<!-- Scripts -->
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")